 p{
        text-align:center;
        text-align:justify;
    }
    h1{
        text-align: center;
    }
 h3{
    text-align: center;
 }
 html{
    scroll-behavior: smooth;
 }
body {
   width: 700px;
   margin: 0 auto;
}
