 p{
        text-align:center;
        text-align:justify;
    }
    h1{
        text-align: center;
    }
 h3{
    text-align: center;
 }
 html{
    scroll-behavior: smooth;
 }
body {
   width: 800px;
   margin: 0 auto;
}
svg {
width: 30px;
}
